<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">

		<title></title>

		<!-- CSS Reset -->
		<link rel="stylesheet" href="css/reset.css">
		<!-- Any CSS libraries -->

		<!-- Your CSS -->
		<link rel="stylesheet" href="css/main.css">
	</head>
	<body>

		<nav>
			
			<h1>Christopher Caraway</h1>

			<ul>
				<li><a href="#home">Home</a></li>
				<li><a href="#about">About</a></li>
				<li><a href="#resume">Resume</a></li>
				<li><a href="#projects">Projects</a></li>
				<li><a href="#gallery">Gallery</a></li>
			</ul>
		</nav>


		<img src="https://c1.staticflickr.com/3/2913/32795243323_5d29c3d01d_b.jpg">
		<p>Lorem ipsum</p>

		<a href="#about">
		    <li>Mobile enthusiast.</li>
   			 <li>Passion for design and user experience.</li>
    		<li>Bibliophile.</li>
    		<li>Cycling fanatic.</li>
   			 <li>I like ponies.</li>
    		<li>Michigan native, NYC resident.</li>
    	</div>

		
		<a href="#resume">Resume</a>
		<div class="box2"></div>


		<a href="#projects">Projects</a>
		<div class="box3"></div>


		<a href="#gallery">Gallery</a>
		<div class="box4"></div>

		 <div class="gallery">
		 <div class="gallery-image"></div>
  		 <div class="gallery-image"></div>
   		 <div class="gallery-image"></div>
   		 <div class="gallery-image"></div>
   		 <div class="gallery-image"></div>
    	 <div class="gallery-image"></div>
		 </div>




		  <h4>Contact Me</h4>
    		<a href="https://www.linkedin.com/in/christophercaraway/">LinkedIn</a>





		<!-- Always load jQuery first -->
		<script
  src="http://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
		<!-- Then, any JS libraries -->

		<!-- Lastly, your JS -->
		<script src="js/main.js"></script>
	</body>
</html>